.title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
  color: #f8b400; /* Highlighted color */
}

.product-list {
  margin: 1rem;
  padding: 0;
}

.product-item {
  padding: 0 12px;
  border-radius: 6px;
  /* margin-bottom: 10px; */
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  display: flex;
  font-size: 1rem;
  font-weight: bold;
}

.no-products {
  text-align: center;
  color: black;
}
.hr {
  margin: 1rem 0;
  color: inherit;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}
